$big-content-width: 800px;
$medium-content-width: 400px;

body {
  padding: 0;
  background-color: white;
  color: #282b34;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
}

h2 {
  margin: 20px 0 10px 0;
  font-size: 30px;
  color: #282b34;
}

img {
  display: block;
  margin: 0 auto;
}

textarea {
  background-color: rgba(10, 10, 10, 0.95);
  border: 0;
  color: white;
  font-family: monospace;
  font-size: 1rem;
  width: 100%;
  height: 500px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  resize: none;
  margin-bottom: 10px;

  @media screen and (min-width: $medium-content-width) {
    width: $medium-content-width;
    &:first-of-type {
      border-right: 1px solid white;
    }
  }
}

textarea:focus {
  outline: none;
}

section {
  margin-bottom: 40px;
}

a {
  color: #282b34;

  &:hover {
    color: #888888;
  }
  &:visited {
    color: #888888;
  }
}

table.emojis-map {
  width: 100%;
  font-weight: bold;

  .keyword {
    font-size: 9px;
  }

  td {
    width: 10%;
    padding-top: 10px;
  }

  @media screen and (min-width: $big-content-width) {
    .keyword {
      font-size: 1em;
    }
  }
}

.background-emojis {
  position:fixed;
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.13);
  background-color: white;
  font-size: 3vw;
  line-height: 3vw;
}

.logo-segment {
  color: rgba(255, 255, 255, 1);
}

.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 39vw 10px 0 10px;
  text-align: center;

  @media screen and (min-width: $medium-content-width) {
    width: $medium-content-width;
    padding-top: 42vw;
  }

  @media screen and (min-width: $big-content-width) {
    width: $big-content-width;
    padding-top: 42vw;
  }
}

.instructions {
  box-shadow: 0px 0px 30px 20px rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.9);

  p {
    text-align: left;
  }

  @media screen and (min-width: $big-content-width) {
    p {
      text-align: center;
    }
  }
}

// code highlighting atom-dark theme
.hljs{display:block;overflow-x:auto;padding:0.5em;color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-keyword,.hljs-formula{color:#c678dd}.hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string{color:#98c379}.hljs-built_in,.hljs-class .hljs-title{color:#e6c07b}.hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number{color:#d19a66}.hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title{color:#61aeee}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}.hljs-link{text-decoration:underline}

.javascript, .bash {
  display: inline-block;
  text-align: left;
  padding: 10px;
}
