$small-content-width: 93%;
$big-content-width: 800px;
$break-big: 800px;

body {
  padding: 0;
  background-color: white;
  color: rgb(40, 43, 52);
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

code {
  color: white;
  background-color: rgb(40, 43, 52);
  padding: .5rem;
}

code + h2 {
  margin-top: 3rem;
}

code + img {
  margin-top: 60px;
}

textarea {
  background-color: rgb(40, 43, 52);
  border: 0;
  color: white;
  font-family: monospace;
  font-size: 1rem;
  width: $small-content-width;
  height: 500px;
  padding: 10px;
  box-sizing: border-box;

  @media screen and (min-width: $break-big) {
    width: $big-content-width / 2;

    &:first-of-type {
      border-right: 1px solid white;
    }
  }
}

textarea:focus {
  outline: none;
}

.bg-emojis {
  position:fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
  font-size: 3vw;
}

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  text-align: center;
  padding-top: 38vw;
  @media screen and (min-width: $break-big) {
  }

}

.mog-script-gif {
  width: $small-content-width;
  @media screen and (min-width: $break-big) {
    width: $big-content-width;
  }
}
